@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: .0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: .0;
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
  }
  80% {
    -webkit-transform: translate(-2rem);
            transform: translate(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  80% {
    -webkit-transform: translate(2rem);
            transform: translate(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  80% {
    -webkit-transform: translate(2rem);
            transform: translate(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=animations.css.map */