/* ! === === === === === === HEAD === === === === === === === */

* {
   padding: 0;
   margin: 0;
}

html {
   font-size: 10px;
}

body {
   font-family: sans-serif;
}

#particles-js {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.particles-js-canvas-el {
   position: absolute;
}

.heading {
   line-height: normal;
}

.heading .head-main {
   color: black;
   display: block;
   font-family: 'Major Mono Display';
   animation: moveLeft 1.3s ease-in-out;
}

.heading .head-second {
   color: black;
   display: block;
   font-family: 'Sacramento';
   animation: moveRight 1.3s ease-in-out;
}

.head {
   text-align: center;
   height: 80vh;
   background-color: #ea907a;
}

/* ! === === === === === === HEAD END === === === === === === === */

/* * === === === === === === ABOUT === === === === === === === */

.about {
   background-color: #fbc687;
}

/* * === === === === === === ABOUT END === === === === === === === */

/* ? === === === === === === SKILLS === === === === === === === */

.flex-container {
   background-color: #f4f7c5;
}

h3 {
   text-transform: uppercase;
   font-weight: 500;
}

.projHeading {
   background-color: #f4f7c5;
   text-align: center;
   font-size: 2.5rem;
   letter-spacing: 0.55rem;
   color: rgb(70, 66, 66);
}

.projLink {
   color: #92a9bd;
   text-decoration: none;
   transition: background-color 0.2s ease-in-out;
}

.projLink:hover {
   background-color: #e8e1d8;
   text-decoration: none;
}

.section-divider {
   display: block;
   border: none;
   margin: 10px auto;
   padding: 0;
}

.section-divider.-waved {
   height: 5px;
   background-image: url("data:image/svg+xml;charset=utf8, %3Csvg id='squiggly' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23bada55' stroke-width='1' class='st0' d='M0, 3.5 c 5, 0, 5, -3, 10, -3 s 5, 3, 10, 3 c 5, 0, 5, -3, 10, -3 s 5, 3, 10, 3'/%3E%3C/svg%3E");
   animation: hr-width 3s ease-out;
}

@keyframes hr-width {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}

/* ? === === === === === === SKILLS END === === === === === === === */

/* * === === === === === === FOOT === === === === === === === */

.foot {
   text-align: center;
   background-color: #aacdbe;
}
.foot .heart {
   position: relative;
   top: 1.5px;
   height: 17px;
}

/* * === === === === === === FOOT END === === === === === === === */

/* ! === === === === === === ANIMATION AND MEDIA === === === === === === === */

.animated {
   animation-duration: 1s;
   animation-fill-mode: both;
}

.fadeInUp {
   animation: fadeInUp 1.2s ease-in-out;
}

/* ! === === === === === === ANIMATION AND MEDIA END === === === === === === === */

@media (min-width: 312px) {
   .flex-container {
      letter-spacing: 0.25rem;
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 0 5%;
   }
   .projHeading {
      padding: 4% 0;
   }
   .padd {
      padding: 2.5% 0;
      background-color: #f4f7c5;
   }
   .flex-child {
      padding: 3% 0;
   }
   .fadeInLeft {
      display: inline-block;
      animation: fadeInLeft 1s ease-in-out;
   }
   .fadeInRight {
      display: inline-block;
      animation: fadeInRight 1s ease-in-out;
   }
   .about {
      letter-spacing: 0.25rem;
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 5%;
   }
   .div-ico img {
      display: inline-block;
      height: 20px;
      width: 20px;
   }
   .heading .head-main {
      font-size: 4rem;
      letter-spacing: 0;
   }
   .heading .head-second {
      font-size: 2.8rem;
      letter-spacing: 0;
   }
   .foot {
      letter-spacing: 0.25rem;
      font-size: 1.2rem;
   }
}

@media (min-width: 642px) {
   .flex-container {
      display: flex;
      background-color: #f4f7c5;
      gap: 5%;
   }
   .flex-child {
      flex: 1;
   }
}
@media (min-width: 961px) {
   .flex-container {
      letter-spacing: 0.3rem;
      font-size: 1.2rem;
      line-height: 2rem;
   }
   .about {
      letter-spacing: 0.3rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
   }
   .div-ico img {
      display: inline-block;
      height: 20px;
      width: 20px;
   }
   .heading .head-main {
      font-size: 4.2rem;
      letter-spacing: 2px;
   }
   .heading .head-second {
      font-size: 3rem;
      letter-spacing: 2px;
   }
   .foot {
      letter-spacing: 0.3rem;
      font-size: 1.4rem;
   }
   .wobbleAnim:hover {
      display: inline-block;
      animation: wobble-vertical 1s ease-in-out;
   }
}
@media (min-width: 1025px) {
   .heading .head-main {
      font-size: 4.5rem;
      letter-spacing: 5px;
   }
   .heading .head-second {
      font-size: 3.5rem;
      letter-spacing: 2.5px;
   }
   h3 {
      font-size: 2rem;
   }
   .about {
      letter-spacing: 0.45rem;
      font-size: 1.5rem;
      line-height: 2.1rem;
   }
   .flex-container {
      letter-spacing: 0.45rem;
      font-size: 1.5rem;
      line-height: 2.1rem;
   }
   .div-ico img {
      display: inline-block;
      height: 25px;
      width: 25px;
   }
   .foot {
      letter-spacing: 0.5rem;
      font-size: 1.8rem;
   }
}
